<h1>Fetchy Page!</h1>
<h2>Insert an ID to get a user's info below</h2>

<form id="user-form">
    <input name="userId" placeholder="User ID" type="text">
    <input type="submit">
</form>

<div id="user">
    <h3> name: <span class="user-name"> (still undefined) </span></h3>
</div>

<div id="users"></div>
<button id="users-get">Get All Users Instead</button>

<script src="./js/script.js"></script>