<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- views/players.hbs -->

    <div class="container">
        <h1>Players</h1>
        <div class="row">
            {{#each players}}
            {{> playerCard }}
            {{/each}}
        </div>
    </div>

</body>

</html>